body {
    margin: 0px;
}

img.clip {
    position: relative;
}

div.viewport {
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}

div#grid {
    display: flex;
    flex-flow: row wrap;
}
